#ui-root {
    background-color: #3e0909
}

#left-border {
    margin: 0px;
    border: 0px;
    padding: 5px;
    background-color: #353535;
}

#ui-root #left-bg {
    display: flex;
}

#right-list {
    height: 50%;
}

.big-text {
    font-size: 15;
    width: 100%;
    color: #623192
}

#right-list text {
    font-size: 19;
    vertical-align: bottom;
    color: red;
}

.container .blue-bg {
    background-color: #ff00FF10;
} 
